@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kanit;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #234FBB;
  padding: 32px;
  bottom: 0;
}

.content {
  background-color: red;
  /* flex: 1; */
}


